*.iml
.kotlin
.gradle
.gradle-home/
**/build/
xcuserdata
!src/**/build/
local.properties
.idea
.DS_Store
captures
.externalNativeBuild
.cxx
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcodeproj/project.xcworkspace/
!*.xcworkspace/contents.xcworkspacedata
**/xcshareddata/WorkspaceSettings.xcsettings
node_modules/
**/release/
**/debug/
**/profile/
dlnusche.jks
example/
.github/skills
.vscode
.codex
/docs/miuix-skill/config.json
/docs/miuix-skill/SKILL.md
/docs/pe.md
