<?xml version="1.0" encoding="utf-8"?>
<!-- Compose UI 测试必需：runComposeUiTest / runUltronUiTest 通过 ActivityScenario 启动 androidx.activity.ComponentActivity -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
        <activity
            android:name="androidx.activity.ComponentActivity"
            android:exported="true" />
    </application>
</manifest>
