#include "AppVersion.xcconfig"

TEAM_ID = restarhalf

PRODUCT_NAME = Schedule
PRODUCT_BUNDLE_IDENTIFIER = restarhalf.stellar.schedule.Schedule$(TEAM_ID)

IOS_RELEASE_BUILD_NUMBER = $(APP_VERSION_CODE)
IOS_RELEASE_MARKETING_VERSION = $(APP_VERSION_NAME)

// Local default values. CI can override via xcodebuild:
// IOS_BUILD_NUMBER / IOS_MARKETING_VERSION
IOS_BUILD_NUMBER = $(IOS_RELEASE_BUILD_NUMBER)
IOS_MARKETING_VERSION = $(IOS_RELEASE_MARKETING_VERSION)

CURRENT_PROJECT_VERSION = $(IOS_BUILD_NUMBER)
MARKETING_VERSION = $(IOS_MARKETING_VERSION)
