<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CADisableMinimumFrameDurationOnPhone</key>
    <true/>

    <key>CFBundleDisplayName</key>
    <string>Chrnova</string>

    <key>NSPhotoLibraryUsageDescription</key>
    <string>需要读取照片库来选择背景图片</string>

    <key>NSPhotoLibraryAddUsageDescription</key>
    <string>需要保存赞赏码图片到相册</string>

    <key>NSAppTransportSecurity</key>
    <dict>
        <key>NSAllowsArbitraryLoads</key>
        <true/>
    </dict>

    <key>UISupportedInterfaceOrientations</key>
    <array>
        <string>UIInterfaceOrientationPortrait</string>
    </array>

    <key>LSApplicationQueriesSchemes</key>
    <array>
        <string>tim</string>
        <string>timapi</string>
        <string>mqq</string>
        <string>mqqapi</string>
        <string>mqqopensdkapi</string>
        <string>mqqopensdkapiv3</string>
    </array>
</dict>
</plist>